.container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem ;
  border: 1px solid #d1d5db;
}

.title {
  color: #2563eb;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 14px;
}

.footerText {
  font-size: 0.75rem;
  color: #2563eb;
  margin-top: 0.5rem;
  text-align: center;
}

.titulo {
  margin-bottom: 1rem;
  color: #2563eb;
  font-size: 14px;
}
