.container {
  display: flex;
  gap: 16px;
}

.statusBloco,
.statusBlocoConcluidas {
  flex: 1;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.statusBloco {
  color: #2563eb;
  background-color: white;
  border: 1px solid #d1d5db;
}

.statusBlocoConcluidas {
  color: white;
  background-color: #2563eb;
  border: 1px solid #d1d5db;
}


.statusBloco h3,
.statusBloco p,
.statusBlocoConcluidas h3,
.statusBlocoConcluidas p {
  margin: 0;
  font-size: 14px; 
}

.statusBlocoConcluidas h3 {
  color: white;
}

.numero {
  display: block;
  font-size: 28px;
  font-weight: 700;
  margin: 4px 0;
}

.tituloComIcone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: #2563eb;
  font-size: 14px;
}
.tituloComIcone h3 {
  font-size: 14px;
  margin: 0; 
}
.iconeEstrela {
  color: gold;
  font-size: 1.3rem;
  position: relative;
  top: -1px;
}