@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); 
  gap: 1rem;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  justify-items: center; 
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 220px; 
}

.subtitle {
  color: #2563eb;
  font-weight: 600; 
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem; 
}

.value {
  font-size: 1.25rem; 
  font-weight: 700;  
  color: #1f2937;
  margin: 0.2rem 0;   
  font-family: 'Montserrat', sans-serif;
}

.label {
  font-size: 0.8rem; 
  color: #2563eb;
  margin-top: 0.2rem; 
  font-family: 'Montserrat', sans-serif;
}
.gridDashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  margin-top: 1rem;
  justify-items: center;
}